.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  transition: background-color 0.3s;
  max-width: 88rem;
  margin: auto;
  gap: 40px;

  .image {
    cursor: pointer;
  }

  .admin {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #333;
    color: white;
    padding: 20px;
    cursor: pointer;
    border-radius: 24px;

    &:hover {
      background-color: white;
      color: #333;
    }
  }

  &.scrolled {
    background-color: #c3b9ff;
  }
}
