@import '../../styles/variables';
@import '../../styles/mixins';

.button {
  @include button-style;
  // background-color: var(--primary-color);
  background-color: #c3b9ff;
  box-shadow: -5px 5px #6959c7, -5px 5px 0 2px #412b76;
  border: 2px solid #412b76;
  color: #412b76;
  // color: var(--text-color);
  &:hover {
    background-color: #412b76;
  }

  &.primary {
    color: #412b76;
    box-shadow: none;
    &:hover {
      color: white;
      background-color: #412b76;
    }

    // background-color: var(--primary-color);
  }

  &.secondary {
    // background-color: var(--secondary-color);
    color: white;
    color: #412b76;
    &:hover {
      color: white;
      background-color: #412b76;
    }
  }

  &.ghost {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    &:hover {
      color: white;
      background-color: #412b76;
    }
  }

  &.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }

  &.medium {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  &.large {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
  }
}
