.feedSection {
  padding: 48px 32px;
  margin-bottom: 60px;
  border-radius: 24px;
  background-color: #f6f4f8;
  line-height: 25.2px;
}

.prompt {
  margin-bottom: 40px;

  span {
    font-weight: bold;
  }
}

.promptCard {
  border: 1px solid #989898;
  padding: 24px;
  border-radius: 24px;
  background-color: #fff;
  margin-bottom: 16px;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media screen and (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}

.card {
  border: 1px solid #989898;
  padding: 24px;
  border-radius: 24px;
  background-color: #fff;

  .imageCard {
    border-radius: 20px;
    margin-top: 24px;

    img {
      border-radius: 20px;
      object-fit: cover;
      width: 100%;
    }
  }
}

.modelName {
  span {
    font-weight: bold;
  }
}

.text {
  margin-top: 32px;
  max-height: 400px;
  overflow: auto;
}
